@model AdvancedDevelopment.Models.Trello.TrelloCard
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<style>
    .alternate {
        background-color: #FBFBFB
    }
</style>

<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">Trello API Integration</h1>
                <p class="lead">A selection of different Trello management options.</p>
            </div>
            <div id="cardList">
                <p class="lead">View a list of the cards in the Advanced Development Trello board.</p>
                <ul class="list-group">
                    @if (Model.CardCollection.Count().Equals(0))
                    {
                        <p>No cards to display, you should create one.</p>
                        <a class="btn btn-primary" style="max-width: 150px" asp-action="Index">Add a new card</a>
                    }
                    else
                    {
                        @foreach (var x in Model.CardCollection)
                        {
                            <li class="list-group-item">
                                <a href="@x.Url" target="_blank">@x.Name </a>
                                <p>@x.Description</p>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@x.Id">Delete</a>
                                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@x.Id">Edit</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $('#cardList ul li:nth-child(odd)').addClass('alternate');
        });
    </script>
}